<app-user-nav></app-user-nav>

<div class="container" style="margin-top:50px">

    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-6"><h2>Change your password:</h2><br/></div>
        
        <div class="col-sm-2"></div>
      </div>
<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
      <form #changePass="ngForm" (ngSubmit)="update(changePass)">
          <div class="form-group">
              <label for="name">Current Password:</label>
              <input type="password" name="currpass" #currRef="ngModel" class="form-control" [ngModel]="curr" ngModel required >
              <div *ngIf="currRef.errors && (currRef.dirty || currRef.touched)" style="text-align:left; padding-top:5px; color:red;">
                  <div [hidden]="!currRef.errors.required">
                    <p>&nbsp;This is mandatory</p>
                  </div>
                </div>
            </div>
        

       

          <div class="form-group">
              <label for="pwd">Enter your new password:</label>
              <input type="password" name="newpassword" #newPass="ngModel" class="form-control" ngModel required>
              <div *ngIf="newPass.errors && (newPass.dirty || newPass.touched)" style="text-align:left; padding-top:5px; color:red;">
                  <div [hidden]="!newPass.errors.required">
                    <p>&nbsp;Password is mandatory</p>
                  </div>
                </div>
            </div>
            <div class="form-group">
              <label for="pwd">Enter your new password again:</label>
              <input type="password" name="newpassword2" #newPass2="ngModel" class="form-control" ngModel required>
              <div *ngIf="newPass2.errors && (newPass2.dirty || newPass2.touched)" style="text-align:left; padding-top:5px; color:red;">
                  <div [hidden]="!newPass2.errors.required">
                    <p>&nbsp;Password is mandatory</p>
                  </div>
                </div>
                <div *ngIf="(newPass2.dirty || newPass2.touched)" style="text-align:left; padding-top:5px; color:red;">
                  <div [hidden]="newPass.value==newPass2.value">
                    <p>&nbsp;Passwords don't match</p>
                  </div>
                </div>
            </div>
        
        <button type="submit"  [disabled]="!changePass.form.valid || newPass2.value!=newPass.value"class="btn btn-primary">Submit</button>
      </form>
<br /><br /><br /><br /><br /><br /><br />


  </div>
  <div class="col-md-2"></div>
</div>

</div>

<br/><br/><br/>

<app-footer></app-footer>