<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #0077be">
  <a class="navbar-brand" href="/" style="color:white;">Washer</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/" style="color:white;">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/how-it-works" style="color:white;">How It Works</a>
      </li>
    </ul>
    
    <ul class="navbar-nav mr-sm-4">
      <li class="nav-item">
        <a class="nav-link" routerLink="/register" style="color:white;">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="modal" data-target="#myModal" style="color:white;cursor:pointer;">Log in</a>
      </li>
    </ul>
    
  </div>
</nav>
<br /><br />
<app-login></app-login>